/* ----------------------BANNER----------------------------- */

.main-img img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

h2 {
    background-color: green;
    border-radius: 20px;
    padding: 10px;
}

/* -----------------------BANNER ENDS----------------------------- */